<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fizz.financewizard" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Finance Wizard"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/AppTheme.BrandedLaunch"

            android:clearTaskOnLaunch="true"
            android:excludeFromRecents="false"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Manifest for RSS-->
        <activity
            android:name=".RssMainActivity"
            android:label="Eco Feed"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:launchMode="singleInstance"
            android:clearTaskOnLaunch="true">
        </activity>

        <!--Manifest for Floating calculator-->
        <activity android:name=".Calc"
            android:label="Calculator"
            android:theme="@style/Theme.Floating">
        </activity>

        <service android:name=".rss_service" />


        <!--Manifest for goals and Targets-->
        <activity android:name=".Goals_MainActivity"
            android:label="Goals and Targets">
        </activity>

        <activity
            android:name=".GoalDisActivity"
            android:label="@string/title_activity_goal_dis" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fizz.financewizard.Goals_MainActivity" />
        </activity>
        <activity
            android:name=".GoalActivity"
            android:label="@string/title_activity_goal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fizz.financewizard.GoalDisActivity" />
        </activity>
        <activity
            android:name=".GoalInfoActivity"
            android:label="@string/title_activity_goal_info" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.fizz.financewizard.GoalDisActivity" />
        </activity>

    </application>


</manifest>
